<hr />
<h1>Create Track</h1>
<form action="/Tracks/Create?albumId=@Model.AlbumId" method="post">
    <div class="form-group">
        <label>Name</label> <input type="text" name="name" value="" />
    </div>
    <label>Link</label> <input type="text" name="link" value="" />
    <div class="form-group">
        <label>Price</label> <input type="text" name="price" value="" />
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" name="submit" value="Create" />
    </div>
    <hr />
    <a class="btn btn-primary" href="/Albums/Details?id=@Model.AlbumId">BackToAlbum</a>
</form>