
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">IRunes</a>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="/Albums/All">Albums  </a></li>
            <li><a class="nav-link" href="/Users/Logout">Logout  </a></li>
        </ul>
    </div>
</nav>

<form action="/Albums/Create" method="post" class="form-control">
    <h1>Create Album</h1>
    <br>
    <div class="form-group">
        <label>Name:</label>
        <input type="text" name="name" value="" />
    </div>
    <br>
    <div class="form-group">
        <label>Cover:</label>
        <input type="url" name="cover" value="" />
    </div>
    <br>
    <input class="btn btn-primary" type="submit" name="createButton" value="Create" />
    <hr />
    <a class="btn btn-primary" href="/Albums/All">Back to all</a>
</form>
