<form action="/Albums/Create" method="post" class="form-control">
    <h1>Create Album</h1>
    <br>
    <div class="form-group">
        <label>Name:</label>
        <input type="text" name="name" value="" />
    </div>
    <br>
    <div class="form-group">
        <label>Cover:</label>
        <input type="url" name="cover" value="" />
    </div>
    <br>
    <input class="btn btn-primary" type="submit" name="createButton" value="Create" />
    <hr />
    <a class="btn btn-primary" href="/Albums/All">Back to all</a>
</form>
