<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">IRunes</a>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="/Albums/All">Albums  </a></li>
            <li><a class="nav-link" href="/Users/Logout">Logout  </a></li>
        </ul>
    </div>
</nav>
<div>

    <img src="@Model.AlbumLink" alt="Alternate Text" />
</div>
<div>

    <h3 class="text-info">Name: @Model.AlbumName</h3>
    <h3 class="text-info">Price: @Model.AlbumPrice</h3>
</div>
<h1>Tracks</h1>
<hr />
<a class="btn btn-primary" href="/Tracks/Create?albumId=@Model.AlbumId">CreateTrack</a>
<hr />
<div>
    <ul>
        @foreach(var track in @Model.Tracks)
        {
        <li><a class="btn btn-primary" href="/Tracks/Details?albumId=@Model.AlbumId&trackId=@track.Id">@track.Name</a></li>
        }
    </ul>

</div>
<hr />
<a class="btn btn-primary" href="/Albums/All">Back to all</a>
